<div class="home-page">
  <div *ngIf="loading()" class="home-loading">Loading...</div>

  <div class="home-canvas" *ngIf="!loading()">
    <div
      *ngFor="let block of blocks()"
      class="home-block"
      [ngStyle]="blockStyle(block)"
    >
      <!-- TEXT BLOCK -->
      <div *ngIf="block.block_type === 'text'" class="block-text" [innerText]="block.text_content"></div>

      <!-- IMAGE BLOCK (auto-scrolling carousel if multiple images) -->
      <div *ngIf="block.block_type === 'image'" class="block-image">
        <img
          *ngIf="currentImage(block) as img"
          [src]="img.url"
          [alt]="img.caption || ''"
        />
        <div class="carousel-dots" *ngIf="block.images.length > 1">
          <span
            *ngFor="let img of block.images; let i = index"
            class="dot"
            [class.active]="i === (activeImageIndex[block.id] ?? 0)"
          ></span>
        </div>
      </div>
    </div>
  </div>

  <section class="home-enquiry-section">
    <app-enquiry-box></app-enquiry-box>
  </section>
</div>
